<div class="intoro">
<h5>終わり</h5>



<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>


<p>この人を</p>


</div>
<div class="perfume-container">
<div class="perfume">
    <% if  @perfume && @perfume.question == "1111" %>
    <h6></h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら女神枠の</p>
    <p>一人っ子</p>
    

    <% elsif  @perfume && @perfume.question == "1112" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら女神枠の</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1113" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら女神枠の</p>
    <p>中間子</p>
 
    <% elsif  @perfume && @perfume.question == "1114" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら女神枠の</p>
    <p>末っ子</p>
   
    <% elsif  @perfume && @perfume.question == "1121" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1122" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1123" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1124" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1131" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1132" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1133" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1134" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1141" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1142" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1143" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1144" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1151" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1152" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1153" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1154" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1161" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1162" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1163" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1164" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はめっちゃうるさい</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1211" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1212" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1213" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1214" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1221" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1222" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1223" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1224" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1231" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1232" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1233" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1234" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1241" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1242" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>
    

    <% elsif  @perfume && @perfume.question == "1243" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1244" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1251" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>
    
    <% elsif  @perfume && @perfume.question == "1252" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>
    
    <% elsif  @perfume && @perfume.question == "1253" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>
    
    <% elsif  @perfume && @perfume.question == "1254" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>
    
    <% elsif  @perfume && @perfume.question == "1261" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1262" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1263" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1264" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>末っ子</p>
    
    <% elsif  @perfume && @perfume.question == "1311" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1312" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1313" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1314" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1321" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1322" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1323" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1324" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1331" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1332" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1333" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1334" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1341" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1342" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1343" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1344" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1351" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1352" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1353" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1354" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1361" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1362" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1363" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1364" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実はギャグセンがありそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1411" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1412" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1413" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1414" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1421" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1422" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1423" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1424" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1431" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1432" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1433" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1434" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1441" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1442" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1443" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1444" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1451" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1452" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1453" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1454" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1461" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1462" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1463" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1464" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は常識人で</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1511" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1512" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1513" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1514" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1521" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1522" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1523" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1524" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1531" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1532" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1533" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1534" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1541" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1542" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1543" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1544" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1551" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1552" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1553" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1554" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1561" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1562" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1563" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1564" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>実は悪いグループにいそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1611" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1612" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1613" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1614" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>


    <% elsif  @perfume && @perfume.question == "1621" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1622" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1623" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1624" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1631" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1632" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1633" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1634" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1641" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1642" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1643" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1644" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1651" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1652" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1653" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1654" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "1661" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "1662" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "1663" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "1664" %>
    <h6> </h6>
    <p>学校行事は張り切っちゃう</p>
    <p>表も裏もなさそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2111" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2112" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2113" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2114" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2121" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2122" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2123" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2124" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2131" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2132" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2133" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2134" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司なら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2141" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2142" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2143" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2144" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2151" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2152" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2153" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2154" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2161" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2162" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2163" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2164" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はめっちゃうるさい</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2211" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2212" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2213" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2214" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2221" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2222" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2223" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2224" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2231" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2232" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2233" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2234" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2241" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2242" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2243" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2244" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2251" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2252" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2253" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2254" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>


    <% elsif  @perfume && @perfume.question == "2261" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2262" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2263" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2264" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>家では一言もしゃべらない</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2311" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2312" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2313" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2314" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2321" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2322" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2323" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2324" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2331" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2332" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2333" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2334" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2341" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2342" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2343" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2344" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2351" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2352" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2353" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2354" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>


    <% elsif  @perfume && @perfume.question == "2361" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2362" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2363" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2364" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実はギャグセンがありそうで</p>
    <p>あんま後輩が好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2411" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2412" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2413" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2414" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2421" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2422" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2423" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2424" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2431" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2432" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2433" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2434" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2441" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2442" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2443" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2444" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2451" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2452" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2453" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2454" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2461" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2462" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2463" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2464" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は常識人で</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2511" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2512" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2513" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2514" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2521" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2522" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2523" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2524" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2531" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2532" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2533" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2534" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2541" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2542" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2543" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2544" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2551" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2552" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2553" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2554" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2561" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2562" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2563" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2564" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>実は悪いグループにいそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2611" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司なら女神枠な</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2612" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司なら女神枠な</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2613" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司なら女神枠な</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2614" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司なら女神枠な</p>
    <p>末っ子</p>


    <% elsif  @perfume && @perfume.question == "2621" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2622" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2623" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2624" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司なら厳しいけど面倒見がよさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2631" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>一人っ子</p>
    

    <% elsif  @perfume && @perfume.question == "2632" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2633" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2634" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司だったら優しいけどあんま助けてくれなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2641" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2642" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2643" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2644" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>後輩からなめられてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2651" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2652" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2653" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2654" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>上司だったら面白そうだけどいつも怒られてそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "2661" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>一人っ子</p>

    <% elsif  @perfume && @perfume.question == "2662" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>長子</p>

    <% elsif  @perfume && @perfume.question == "2663" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>中間子</p>

    <% elsif  @perfume && @perfume.question == "2664" %>
    <h6> </h6>
    <p>学校行事は結構楽しみにしてるほうで</p>
    <p>裏も表もなさそうで</p>
    <p>後輩があんま好きじゃなさそうな</p>
    <p>末っ子</p>

    <% elsif  @perfume && @perfume.question == "3111" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>


    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <% elsif  @perfume && @perfume.question == "" %>
    <h6> </h6>
    <p></p>
    <p></p>
    <p></p>
    <p></p>


    <% end %>


        <p>なんじゃないかって思ってたん</p> 
 </div>


 <%= link_to 'この診断結果を保存する', save_perfume_path(num: @result) , method: :post %>



 

   

<div class="back-button">
  <%= link_to "最初に戻る", perfumes_path, class: "btn btn-secondary" %>
</div> 



</div>